<app-menu></app-menu>
<div *ngIf="user">
    <div>
      <span class="pagetitle">User Detail</span>
    </div>
    <div>
    <table class="table table-sm table-hover table-bordered" style="width:400px">
      <thead>
        <tr>
          <td>Id</td><td>{{user.id}}</td>
        </tr>
        <tr>
          <td>Username</td><td>{{user.username}}</td>
        </tr>
        <tr>  
          <td>First Name</td><td>{{user.firstname}}</td>
        </tr>
        <tr>  
          <td>Last Name</td><td>{{user.lastname}}</td>
        </tr>
        <tr>  
          <td>Phone</td><td>{{user.phone}}</td>
        </tr>
        <tr>  
          <td>Email</td><td>{{user.email}}</td>
        </tr>
        <tr>  
          <td>Reviewer?</td><td>{{user.isReviewer | booldisp}}</td>
        </tr>
        <tr>  
          <td>Admin?</td><td>{{user.isAdmin | booldisp}} </td>
        </tr>
        <tr>  
          <td>Active</td><td>{{user.active | booldisp}}</td>
        </tr>  
      </thead>
      <tbody>
      </tbody>
    </table>
    <span><button (click)="edit()" class="btn btn-success">Edit</button> | </span>
    <span><button (click)="setVerifyT()" class="btn btn-warning">Delete</button></span>
    <span *ngIf="verify" >
      <span> | <button (click)="setVerifyF()" class="btn btn-secondary">Cancel Delete</button></span>
      <span> | <button (click)="delete()" class="btn btn-danger">Verify Delete</button></span>
    </span>
    <div>
      <a routerLink="/user/list">Back to User List</a>
    </div>
  </div>
</div>
