<app-menu></app-menu>
<p class="text-center h2">
  Kellan Arick
</p>
<div class="row">
  <div class="column">
    <p class="h5">
      About
    </p>
    <p>
      I served 4 years in the United States Air Force. 
      I accomplished a lot over my time, and I wish to 
      continue that trend. This bootcamp has been an eye
      opening experience which has taught me that I am
      capable of learning quickly, efficiently, and
      thoroughly. The bootcamp has boosted my determination 
      to continue to advance my skills everyday. 
    </p>
  </div>
  <div class="column">
    <p class="h5">
      Work Background
    </p>
    <p>
      Air Force Institute of Technology 12/2017 - 12/2019
      <br>
      M.K. Morse Company 6/2008 - 6/2011
      <br>
      United States Air Force 7/2011 - 9/2014
    </p>
    <p class="h5">
      Education Background
    </p>
    <p>
      Max Technical Training 1/2019 - 4/2019
      <br>
      Wright State University 2/2016 - 12/2018
    </p>
  </div>
</div>