<app-menu></app-menu>
<div *ngIf="request">
  <div>
    <span class="pagetitle h5">Create New Request</span>
  </div>
  <table class="table table-sm table-bordered" style="width:400px">
    <tr>
      <td>User</td>
      <td *ngIf="user">{{ user.username }}</td>
    <tr>
      <td>Description</td>
      <td><input [(ngModel)]="request.description" class="inputstring" type="text"></td>
    </tr>
    <tr>
      <td>Justification</td>
      <td><input [(ngModel)]="request.justification" class="inputstring" type="text"></td>
    </tr>
    <tr>
      <td>Rejection</td>
      <td><input [(ngModel)]="request.rejectionReason" class="inputstring" type="text"></td>
    </tr>
    <tr>
      <td>Delivery Mode</td>
      <td><input [(ngModel)]="request.deliveryMode" class="inputstring" type="text"></td>
    </tr>
    <tr>
      <td>Date Submitted *</td>
      <td><input [(ngModel)]="request.submittedDate" class="inputstring" type="text"></td>
    </tr>
    <tr>
      <td>Active</td>
      <td><input [(ngModel)]="request.active" class="inputstring" type="checkbox"></td>
    </tr>
  </table>
  <span><button (click)="save()" class="btn btn-success">Save</button></span>
  <div>
    <a routerLink="/request/list">Back to Request List</a>
  </div>
</div>