<app-menu></app-menu>
<div *ngIf="request">
    <div>
      <span class="pagetitle">Request Detail</span>
    </div>
    <div>
    <table class="table table-sm table-hover table-bordered" style="width:400px">
      <thead>
        <tr>  
          <td>Description</td><td>{{request.description}}</td>
        </tr>
        <tr>  
          <td>Justification</td><td>{{request.justification}}</td>
        </tr>
        <tr>  
          <td>Rejection</td><td>{{request.rejection}}</td>
        </tr>
        <tr>  
          <td>Delivery Mode</td><td>{{request.deliverMode}}</td>
        </tr>
        <tr>  
          <td>Date Submitted</td><td>{{request.submittedDate}}</td>
        </tr>
        <tr>  
          <td>Status</td><td>{{request.status}}</td>
        </tr>
        <tr>  
          <td>Total</td><td>{{request.total}}</td>
        </tr>
        <tr>  
          <td>Active</td><td>{{request.active | booldisp}}</td>
        </tr>
      </thead>
    </table>
    <span *ngIf="user && request.userId == user.id"><button (click)="statusChange()" class="btn btn-primary">Review</button> | </span>
    <span *ngIf="user && request.userId == user.id"><button (click)="setVerifyT()" class="btn btn-warning">Delete</button></span>
    <span *ngIf="verify" >
      <span> | <button (click)="setVerifyF()" class="btn btn-secondary">Cancel Delete</button></span>
      <span> | <button (click)="delete()" class="btn btn-danger">Verify Delete</button></span>
    </span>
    <div>
      <a routerLink="/request/list">Back to Request List</a>
    </div>
  </div>
</div>
