<app-menu></app-menu>
<div *ngIf="product">
    <div>
      <span class="pagetitle h5">Product Detail</span>
    </div>
    <div>
    <table class="table table-sm table-hover table-bordered" style="width:400px">
      <thead>
        <tr>  
          <td>Vendor Name</td><td>{{product.vendor.name}}</td>
        </tr>
        <tr>  
          <td>Part Number</td><td>{{product.partNumber}}</td>
        </tr>
        <tr>  
          <td>Part Name</td><td>{{product.name}}</td>
        </tr>
        <tr>  
          <td>Price</td><td>{{product.price}}</td>
        </tr>
        <tr>  
          <td>Unit</td><td>{{product.unit}}</td>
        </tr>
        <tr>  
          <td>Photopath</td><td>{{product.photoPath}}</td>
        </tr>
        <tr>  
          <td>Active</td><td>{{product.active | booldisp}}</td>
        </tr>
      </thead>
    </table>
    <span><button (click)="edit()" class="btn btn-success">Edit</button> | </span>
    <span><button (click)="setVerifyT()" class="btn btn-warning">Delete</button></span>
    <span *ngIf="verify" >
      <span> | <button (click)="setVerifyF()" class="btn btn-secondary">Cancel Delete</button></span>
      <span> | <button (click)="delete()" class="btn btn-danger">Verify Delete</button></span>
    </span>
    <div>
      <a routerLink="/product/list">Back to Product List</a>
    </div>
  </div>
</div>
