<app-menu></app-menu>
<div>
  <div>
      <span class="pagetitle">Create New Product</span>
  </div>
    <table class="table table-sm table-bordered" style="width:350px">
      <tr>  
        <td>Vendor</td>
          <td>
            <select [(ngModel)] = "product.vendorId">
              <option *ngFor = "let vendor of vendors" [ngValue] = "vendor.id">{{ vendor.name }}</option>
            </select>
        </td>
      </tr>  
      <tr>  
        <td>Part Number</td>
        <td><input [(ngModel)]="product.partNumber" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Product Name</td>
        <td><input [(ngModel)]="product.name" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input [(ngModel)]="product.price" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Unit</td>
        <td><input [(ngModel)]="product.unit" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Photo Path</td>
        <td><input [(ngModel)]="product.photoPath" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Active</td>
        <td><input [(ngModel)]="product.active" class="inputstring" type="checkbox"></td>
      </tr>
    </table>
    <button (click)="save()" class="btn btn-success">Save</button>
    <p> 
      <a routerLink="/product/list">Back to Product List</a>
    </p>
</div>