<app-menu></app-menu>
<div *ngIf="request">
  <div>
      <span class="pagetitle">Edit request</span>
  </div>
    <table class="table table-sm table-bordered" style="width:350px">
        <tr>  
            <td>Vendor</td>
              <td>
                <select [(ngModel)] = "request.userId">
                  <option *ngFor = "let user of users" [ngValue] = "user.id">{{ user.username }}</option>
                </select>
            </td>
        </tr>
      <tr>  
        <td>Description</td>
        <td><input [(ngModel)]="request.description" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Justification</td>
        <td><input [(ngModel)]="request.justification" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Rejection</td>
        <td><input [(ngModel)]="request.rejectionReason" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Delivery Mode</td>
        <td><input [(ngModel)]="request.deliveryMode" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Date Submitted</td>
        <td><input [(ngModel)]="request.submittedDate" class="inputstring" type="text"></td>
      </tr>
      <tr>
        <td>Active</td>
        <td><input [(ngModel)]="request.active" class="inputstring" type="checkbox"></td>
      </tr>
    </table>
    <span><button (click)="edit()" class="btn btn-success">Update</button> | </span>
    <span><button (click)="setVerifyT()" class="btn btn-warning">Delete</button></span>
    <span *ngIf="verify" >
      <span> | <button (click)="setVerifyF()" class="btn btn-secondary">Cancel Delete</button></span>
      <span> | <button (click)="delete()" class="btn btn-danger">Verify Delete</button></span>
    </span>
    <div>
      <a routerLink="/request/list">Back to Request List</a>
    </div>
</div>