<app-menu></app-menu>
<div>
  <div>
    <span class="pagetitle">Request List</span>
    <span class="create"> | <a routerLink='/request/create/'>Create</a></span>
    <span class="search"> | <input [(ngModel)]="searchCriteria" type="text" placeholder="Request Search" class=""></span>
  </div>
  <table class="table table-sm table-hover table-bordered">
    <thead>
      <tr>
          <td>User</td>
          <td>Description</td>
          <td>Justification</td>
          <td>Rejection</td>
          <td>Delivery Mode</td>
          <td>Date Submitted</td>
          <td>Status</td>
          <td>Total</td>
          <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests | search:searchCriteria" class="coldetail">
        <td><a routerLink = '/user/detail/{{request.user.id}}'>{{ request.user.username }}</a></td>
        <td>{{ request.description }}</td>
        <td>{{ request.justification }}</td>
        <td>{{ request.rejectionReason }}</td>
        <td>{{ request.deliveryMode }}</td>
        <td>{{ request.submittedDate }}</td>
        <td>{{ request.status }}</td>
        <td>{{ request.total }}</td>
        <td>
          <a routerLink = '/request/detail/{{request.id}}'> Detail |</a>
          <a routerLink = '/request/edit/{{request.id}}'> Edit |</a>
          <a routerLink = '/requestline/list/{{request.id}}'> Lines</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>