<app-menu></app-menu>
<div *ngIf="request">
  <span class="pagetitle h5">Requestline List</span>
  <span *ngIf="user && request.userId == user.id" class="create"> | <a routerLink='/requestline/create/{{request.id}}'>Create</a></span>
</div>
<div>
  <table *ngIf="request" class="table table-sm table-hover table-bordered">
    <thead>
      <tr>
        <td>Description</td>
        <td>Status</td>
        <td>Total</td>
        <td>User</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ request.description }}</td>
        <td>{{ request.status }}</td>
        <td>{{ request.total }}</td>
        <td>{{ request.userId }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table *ngIf="request" class="table table-sm table-bordered">
    <tr>
      <td>Product</td>
      <td>Quantity</td>
      <td>Line Total</td>
      <td *ngIf="user && request.userId == user.id" class="text-align:center">Actions</td>
    </tr>
    <tr *ngFor="let line of request.requestLines">
      <td>{{ line.product.name }}</td>
      <td>{{ line.quantity }}</td>
      <td>{{ line.product.price * line.quantity }}</td>
      <td>
        <a *ngIf="user && request.userId == user.id" routerLink="/requestline/edit/{{line.id}}">Edit |</a>
        <button *ngIf="user && request.userId == user.id" class="btn btn-link" (click)="delete(line)"> Delete</button>
      </td>
    </tr>
  </table>
</div>