<app-menu></app-menu>
<div *ngIf="requestline">
  <div>
      <span class="pagetitle">Edit Requestline</span>
  </div>
    <table class="table table-sm table-bordered" style="width:400px">
      <tr>  
        <td>Product Name *</td>
          <td>
            <select [(ngModel)] = "requestline.productId">
              <option *ngFor = "let product of products" [ngValue] = "product.id">{{ product.name }}</option>
            </select>
          </td>
        </tr>
      <tr>
        <td>Quantity</td>
        <td><input [(ngModel)]="requestline.quantity" class="inputstring" type="text"></td>
      </tr>
    </table>
    <span><button (click)="update()" class="btn btn-success">Update</button></span>
    <div>
      <a routerLink="/request/list">Back to Request List</a>
    </div>
</div>