<body>
    <div>
    <table align="center">
      <tr>
        <td><a routerLink="/home/">Home |</a></td>
        <td><a routerLink="/about/">About |</a></td>
        <td><a routerLink="/vendor/">Vendors |</a></td>
        <td><a routerLink="/user/list">Users |</a></td>
        <td><a routerLink="/user/create/">Create User</a></td>
      </tr>
    </table>
  </div>
  <div>
    <p class="text-center">
      Prs-Client Solutions is a preoject used to teach students the proper coding sequence involved
      in building and maintaing a website used for internal ordering of products by employees.
    </p>
  </div>
</body>